@font-face {
    font-family: 'Roboto';
    src: url('../../Fonts/Roboto/roboto-regular-demo.html');

    font-family: 'RobotoB';
    src: url('../../Fonts/Roboto/roboto-bold-demo.html');

    font-family: 'RobotoI';
    src: url('../../Fonts/Roboto/roboto-thinitalic-demo.html');
}

* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
}

.header {
    flex: 0 1 auto;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}


.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 414px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E7E5EB;
}

.right-links {
    font-size: 18px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1F2937;
    align-items: center;
}

.hero {
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 auto;
}


button {
    display: flex;
    width: 128px;
    height: 32px;
    background-color: #3882F6;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
}

.hero img {
   min-width: 500px;
   min-height: 200px; 
   max-width: 500px;
   max-height: 300px;
   background-color: grey;
   margin-top: 36px;
   margin-left: 36pxpx;
   border-radius: 12px;
   flex: 0 0 auto;
}

image {
    min-width: 200px;
    min-height: 200px;
    flex: 0 0 auto;
}

.hero .content {
    display: flex;
    flex: 1 1 auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 96px;
}

.hero-subtext {
    max-width: 500px;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 6px;
    margin-right: 0px;
}

.content .text {
    max-height: 200px;
    max-width: 475px;
    margin-right: 36px;
}

h1 {
    font-family: 'RobotoB';
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    max-width: 475px;
    margin-bottom: 0;
}

.second-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1 auto;
}

h2 {
    align-self: center;
    font-family: 'RobotoB';
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 64px auto 64px auto;
}

.second-box .box-cards {
    display: flex;
    flex-direction: row;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin: 0 auto 96px auto;
}

.info {
    max-width: 164px;
    max-height: 342px;
    font-size: 18px;
    text-align: center;
    color: grey;
}

.info img {
    min-width: 164px;
    min-height: 164px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.third-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0.75 1 auto;
    background-color: #E5E7EB;
}

.third-box .content {
    margin: 96px auto 75px auto;
}

.content .quote {
    font-family: 'RobotoI';
    font-size: 36px;
    font-style: italic;
    max-width: 800px;
    font-weight: 100;
    color: #1F2937;
    margin-bottom: 0px;
}

.source {
    display: flex;
    justify-content: flex-end;
    font-family: 'RobotoB';
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
}

.fourth-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.flag {
    margin: 64px auto 64px auto;
    background-color: #3882F6;
    display: flex;
    min-width: 1000px;
    border-radius: 12px;
}

.flag .content {
  margin: 32px 0px 32px auto;
  color: white;
}

.flag button {
    margin-right: auto;
    margin-left: 128px;
    align-self: center;
    border: 2px solid white;
}

h3 {
    margin-bottom: 2px;
    font-size: 22px;
}

.content p {
    margin-top: 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.footer-text {
    margin: 16px;
    color: white;
}



