@font-face {
    font-family: 'Roboto';
    src: url('../../Fonts/Roboto/roboto-regular-demo.html');

    font-family: 'RobotoB';
    src: url('../../Fonts/Roboto/roboto-bold-demo.html');

    font-family: 'RobotoI';
    src: url('../../Fonts/Roboto/roboto-thinitalic-demo.html');
}

* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
}

#background {
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
 
}

body {
    background-image: url('images/galaxy.jpg');
    background-repeat: no-repeat;

    background-size: cover;
}

.header {
    flex: 0 1 auto;
    display: flex;
    align-items: flex-end;
    margin: 16px auto 16px auto;

}


.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 700px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #E7E5EB;
}

.right-links {
    font-size: 18px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.hero {
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 auto;
    margin-bottom: 64px;
}


button {
    display: flex;
    width: 128px;
    height: 32px;
    background-color: rgb(0, 0, 0, 0.25);
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    cursor: pointer;
}

.hero img {
   min-width: 500px;
   min-height: 200px; 
   max-width: 500px;
   max-height: 300px;
   background-color: grey;
   margin-left: 36px;
   border: 2px solid white;
   border-radius: 12px;
   flex: 0 0 auto;
}

.image {
    max-width: 500px;
    max-height: 300px;
    flex: 0 0 auto;
}

.hero .content {
    display: flex;
    flex: 1 1 auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    min-height: 381px;
    min-width: 1200px;
    align-items: center;
    justify-content: center;
    border: 2px rgb(255, 255, 255, 0.5);
    box-shadow: 5px 10px 4px 2px rgb(4, 12, 118, 0.6);
    border-radius: 64px;

    background-color: rgb(4, 12, 118, 0.4);
}

.hero-subtext {
    max-width: 500px;
    font-size: 18px;
    color: white;
    margin-top: 6px;
    margin-right: 0px;
}

.content .text {
    max-height: 200px;
    max-width: 475px;
    margin-right: 36px;
    align-self: center;
    text-align: center;
}

h1 {
    font-family: 'RobotoB';
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    max-width: 475px;
    margin-bottom: 0;
}

.second-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1 auto;
    align-items: center;
    background: rgb(0, 0, 0, 0.7);
    min-height: 600px;
    box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.7);
}

h2 {
    align-self: center;
    font-family: 'RobotoB';
    font-size: 36px;
    font-weight: 900;
    color: white;
    margin: 64px auto 32px auto;
}

.second-box .box-cards {
    display: flex;
    flex-direction: row;
    
    min-width: 1200px;
    min-height: 290px;
    border: 2px rgb(255, 255, 255, 0.25);
    border-radius: 64px;
    
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin: 6px auto 0px auto;
}

.type {
    font-family: 'RobotoI';
    font-size: 22px;
}

.info p {
    font-family: 'RobotoB';
    padding: 4px;
}

.info {
    max-width: 184px;
    min-height: 220px;
    font-size: 18px;
    text-align: center;
    color: white;
}

.info img {
    max-width: 184px;
    max-height: 184px;
    min-width: 184px;
    min-height: 184px;
    border: 3px solid black;
    border-radius: 12px;
}

.info .text-container {
    display: none;
    position: absolute;
    max-width: 184px;
    max-height: 148px;
    margin-top: 16px;
}

.info:hover .text-container {
    display: block;
    background-color: rgb(0, 0, 60, 0.4);
    border-radius: 12px;
    border: 3px solid black;
}


.third-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0.75 1 auto;
}

.third-box .content {
    margin: 96px auto 75px auto;
}

.content .quote {
    font-family: 'RobotoI';
    font-size: 36px;
    font-style: italic;
    max-width: 800px;
    font-weight: 100;
    color: white;
    margin-bottom: 12px;
}

.source {
    display: flex;
    justify-content: flex-end;
    font-family: 'RobotoB';
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
    color: white;
}

.fourth-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: rgb(0, 0, 0, 0.7);
}

.flag {
    margin: 64px auto 64px auto;
    background-color: black;
    display: flex;
    min-width: 1000px;
    border-radius: 12px;
    border: 2px solid white;
}

.flag .content {
  margin: 32px 0px 32px auto;
  color: white;
}

.flag button {
    margin-right: auto;
    margin-left: 128px;
    align-self: center;
    border: 2px solid white;
}

h3 {
    margin-bottom: 2px;
    font-size: 22px;
}

.content p {
    margin-top: 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.footer-text {
    margin: 16px;
    color: white;
}



